.search-form {
  padding: 10px 0 10px 0;
  display: grid;
  justify-content: stretch;
  border-bottom: 1px solid rgb(232, 232, 232, 1);
}

.search-form__input {
  grid-column: -40/-2;
  height: 48px;
  border: none;
  background-color: rgb(244, 244, 244, 1);
  font-size: 14px;
  justify-self: stretch;
  border-radius: 5px;
  padding: 0 0 0 20px;
  cursor: pointer;
}

.search-form__input:active {
  outline: rgb(244, 244, 244, 1);
}

.search-form__button {
  grid-column: -2/-1;
  border: none;
  width: 70px;
  height: 44px;
  border-radius: 40px;
  background-color: rgb(52, 86, 243, 1);
  padding: 0;
  color: rgb(255, 255, 255, 1);
  font-size: 12px;
  justify-self: end;
  cursor: pointer;
}

.search-form__button:hover {
  opacity: 70%;
  transition: ease-in;
}

@media screen and (max-width: 767px) {
  .search-form {
    gap: 10px;
  }

  .search-form__input {
    grid-column: -12/-2;
  }
}
