.page-not-found {
  background-color: rgb(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-not-found__title {
  font-size: 140px;
  line-height: 1.1;
  text-align: center;
  padding: 246px 0 15px 0;
  font-weight: 400;
  margin: 0;
}

.page-not-found__text {
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  padding-bottom: 184px;
}

.page-not-found__link {
  border: none;
  font-size: 14px;
  color: rgb(52, 86, 243, 1);
  cursor: pointer;
  background-color: rgb(255, 255, 255, 1);
  margin: 0;
  padding: 0 0 70px 0;
}

@media screen and (max-width: 767px) {
  .page-not-found__title {
    font-size: 80px;
  }

  .page-not-found__text {
    font-size: 12px;
  }

  .page-not-found__link {
    font-size: 12px;
  }
}
