.movie {
  border: none;
  border-radius: 6px;
  width: 364px;
}

.movie__content {
  background-color: rgb(255, 255, 255, 1);
  display: grid;
  cursor: pointer;
}

.movie__trailer {
  grid-row: 1/3;
  grid-column: 1/5;
}

.movie__image {
  width: 364px;
  height: 203px;
  object-fit: fill;
  overflow: hidden;
}

.movie__name {
  font-size: 13px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  font-weight: 400;
  padding: 16px 0 17px 20px;
  grid-row: 3/4;
  grid-column: 1/3;
}

.movie__duration {
  font-size: 11px;
  font-weight: 400;
  color: rgb(160, 160, 160, 1);
  grid-row: 4/5;
  grid-column: 1/3;
  margin: 0;
  padding: 0 0 15px 23px;
}

.movie__like-container {
  grid-row: 3/5;
  grid-column: 3/5;
  justify-self: end;
  padding: 16px 15px 0 0;
}

.movie__like-btn {
  width: 16px;
  height: 30px;
  background: url(../../images/like.svg);
  border: none;
  object-fit: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  box-sizing: content-box;
  padding: 0 0 0 0;
}

.movie__like-btn:hover {
  opacity: 50%;
}

.movie__like-btn_active {
  width: 16px;
  height: 30px;
  opacity: 100%;
  background: url(../../images/like-active.svg);
  border: none;
  object-fit: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  box-sizing: content-box;
  padding: 0 0 0 0;
}

.movie__delete-btn {
  width: 16px;
  height: 30px;
  background: url(../../images/delete-btn.svg);
  border: none;
  object-fit: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  box-sizing: content-box;
  opacity: 0;
  padding: 0;
}

.movie__delete-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 1279px) {
  .movie {
    width: 339px;
  }

  .movie__image {
    width: 339px;
    height: 189px;
  }

  .movie__name {
    padding: 16px 0 14px 11px;
  }

  .movie__like-btn {
    padding: 0 0 0 0;
  }

  .movie__duration {
    padding: 0 0 11px 11px;
  }
}

@media screen and (max-width: 767px) {
  .movie {
    width: 300px;
  }

  .movie__image {
    width: 300px;
    height: 168px;
  }

  .movie__name {
    padding: 16px 0 11px 13px;
  }

  .movie__duration {
    padding: 0 0 13px 13px;
  }
}
