.navigation {
  display: flex;
  align-items: center;
  justify-self: end;
  margin-right: 70px;
  margin-left: auto;
}

.navigation__link {
  text-decoration: none;
  padding: 0;
  cursor: pointer;
  color: rgb(0, 0, 0, 1);
  text-align: center;
  font-size: 12px;
}

.navigation__link-login {
  color: rgb(255, 255, 255, 1);
  background-color: rgb(52, 86, 243, 1);
  padding: 12px 20px 8px 20px;
  border-radius: 3px;
  margin-left: 34px;
}

.navigation__link:hover {
  opacity: 70%;
  transition: ease-in;
}

.navigation-movies {
  display: flex;
  padding-left: 44px;
  gap: 16px;
  align-items: center;
}

.navigation-movies__link {
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.navigation-movies__link:hover {
  opacity: 0.7;
  transition: ease-in;
}

.navigation-movies__link:active {
  font-weight: 600;
}

.profile-btn {
  background-color: rgb(255, 255, 255, 1);
  width: 100px;
  display: flex;
  align-items: center;
  gap: 11px;
  height: 32px;
  border-radius: 20px;
  box-shadow: 1px 5px 10px rgb(244, 244, 244, 1);
  cursor: pointer;
}

.profile-btn_place_header {
  margin-left: auto;
  margin-top: 20px;
  margin-right: 20px;
}

.profile-btn:hover {
  opacity: 0.7;
  transition: ease-in;
}

.profile-btn__link {
  text-decoration: none;
  font-size: 13px;
  color: black;
  padding: 10px 0 10px 10px;
}

.profile-btn__link:hover {
  opacity: 70%;
  transition: ease-in;
}

.burger-menu {
  width: 44px;
  height: 44px;
  background: url(../../images/burger-menu.svg);
  border: none;
  object-fit: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  box-sizing: content-box;
  visibility: hidden;
  opacity: 0;
  padding: 0;
}

.burger-menu:hover {
  opacity: 0.7;
  transition: ease-in;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
  z-index: 1;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__close-btn {
  background: url(../../images/close-icon.svg);
  width: 27px;
  height: 27px;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 23px;
  right: 27px;
  z-index: 2;
}

.popup__close-btn:hover {
  opacity: 0.7;
  transition: ease-in;
}

.popup__menu {
  background-color: rgba(250, 250, 250, 1);
  width: 520px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 161px;
  position: absolute;
  top: 0;
  right: 0;
  gap: 28px;
}

.popup__menu-link {
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.popup__menu-link:hover {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.profile-btn_place_popup {
  margin-top: 594px;
  margin-bottom: 70px;
}

.popup__profile-icon {
  width: 11px;
  height: 11px;
  border-radius: 50px;
  padding: 5px;
}

@media screen and (max-width: 1279px) {
  .navigation {
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    margin-right: 15px;
  }

  .navigation__link {
    font-size: 10px;
  }

  .navigation__link-login {
    padding: 9px 13px 8px 10px;
    margin-left: 15px;
  }

  .burger-menu {
    visibility: visible;
    opacity: 1;
    width: 40px;
    height: 43px;
    margin: 15px 14px 0 0;
    justify-self: end;
  }

  .navigation-movies {
    visibility: hidden;
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .profile-btn_place_header {
    visibility: hidden;
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}

@media screen and (max-width: 600px) {
  .popup__menu {
    width: 100%;
    padding-top: 145px;
  }

  .burger-menu {
    margin: 15px 16px 0 0;
  }

  .popup__close-btn {
    top: 13px;
    right: 18px;
  }

  .profile-btn_place_popup {
    margin-top: 410px;
  }
}
