.checkbox {
  display: flex;
  grid-column: -38/-2;
  align-items: center;
  cursor: pointer;
  margin: 30px auto;
}

.checkbox:hover {
  opacity: 0.7;
}

.checkbox__input {
  width: 36px;
  height: 20px;
  cursor: pointer;
  position: relative;
  margin-right: 12px;
}

.checkbox__input::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: rgb(43, 224, 128, 1);
  border-radius: 10px;
  transition: 0.3s;
}

.checkbox__input:checked:before {
  background-color: rgb(235, 235, 235, 1);
}

.checkbox__input::after {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 4px;
  left: 4px;
  content: "";
  background-color: rgb(235, 235, 235, 1);
  border-radius: 10px;
  transition: 0.3s;
}

.checkbox__input:checked:after {
  background: rgb(43, 224, 128, 1);
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.checkbox__name {
  font-size: 12px;
  line-height: 18px;
}

@media screen and (max-width: 767px) {
  .checkbox__input {
    margin-right: 9px;
  }

  .checkbox {
    display: flex;
    grid-column: -7/-2;
  }

  .checkbox__name {
    font-size: 11px;
  }
}
