.login {
  background-color: rgb(255, 255, 255, 1);
  padding: 0 70px;
}

.logo_place_login {
  margin: 70px 0 0 372px;
}

.wellcome {
  font-size: 24px;
  font-weight: 400px;
  padding: 40px 0 0 372px;
  margin: 0;
}

.login__form {
  display: flex;
  flex-direction: column;
  padding: 42px 442px 5px 442px;
}

.label {
  font-size: 10px;
  font-weight: 400;
  color: rgb(160, 160, 160, 1);
  display: flex;
}

.label_place_login {
  flex-direction: column;
}

.input {
  border-style: none;
  font-size: 14px;
  color: black;
  line-height: 1.1;
  padding-bottom: 13px;
  border-bottom: 1px solid rgb(232, 232, 232, 1);
  margin-bottom: 25px;
}

.input:active {
  outline: 1px solid rgb(232, 232, 232, 1);
}

.form__button {
  background-color: rgb(52, 86, 243, 1);
  color: rgb(255, 255, 255, 1);
  font-size: 14px;
  border: none;
  border-radius: 3px;
  line-height: 1.1;
  padding: 14px 0;
  text-align: center;
  cursor: pointer;
  margin-top: 131px;
}

.form__button_place_login {
  margin-top: 198px;
}

.form__button:hover {
  opacity: 70%;
  transition: ease-in;
}

.redirect {
  padding: 14px 442px 5px 442px;
  text-align: center;
  color: rgb(160, 160, 160, 1);
}

.redirect__link {
  color: rgb(52, 86, 243, 1);
  text-decoration: none;
  padding-left: 5px;
}

.redirect__link:hover {
  opacity: 0.7;
  transition: ease-in;
}

@media screen and (max-width: 1279px) {
  .login {
    padding-top: 87px;
    margin: 0 auto;
    max-width: 396px;
  }

  .wellcome {
    padding: 40px, 0 0 0;
  }

  .logo_place_login {
    margin: 144px 0 0 0;
  }

  .login__form {
    padding: 42px 0 5px 0;
    max-width: 396px;
    margin: 0 auto;
  }

  .form__button_place_login {
    margin-top: 200px;
  }
}

@media screen and (max-width: 767px) {
  .login {
    padding-top: 0;
    margin: 0 auto;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo_place_login {
    margin: 0 auto;
    padding-top: 58px;
  }

  .login__form {
    padding: 82px 0 0 0;
    max-width: 260px;
    margin: 0 auto;
  }

  .form__button_place_login {
    margin-top: 288px;
  }

  .redirect__text {
    font-size: 12px;
  }
}
